* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: red;
    --green: green;
    --blue: blue;
}

section {
    display: none;
}
.activePage {
    display: block;
}
li {
    list-style-type: none;
}
/* #splashPage {
    background-color: aquamarine;
}
#restHome {
    background-color: greenyellow;
}
#restMenu {
    background-color: fuchsia;
} */

/* Media Query for Mobile Devices */
/* @media (max-width: 480px) {
    body {
        background-color: red;
    }
} */

/* Media Query for low resolution  Tablets, Ipads */
/* @media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }
} */

/* Media Query for Tablets Ipads portrait mode */
/* @media (min-width: 768px) and (max-width: 1024px){
    body {
        background-color: blue;
    }
} */

/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px){
    body {
        background-color: green;
    }
} */

/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        width: 100vw;
        height: 100vh;
        background-color: lightpink;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main {
        background-color: white;
        height: 35rem;
        width: 50rem;
        border-radius: 1rem;
    }
    .activePage {
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: 1px solid red;
    }
    /* ********** SPLASH PAGE ********** */
    #splashPage {
        width: 100%;
        height: 100%;
        display: grid;
        padding: 1rem;
        grid-template-columns: 20% 80%;
        grid-template-rows: 8% 92%;
        grid-template-areas: 
        'filter search'
        'filter rest'
        ;
    }
    .filterBar {
        grid-area: filter;
        width: 100%;
        padding: 1rem 0.75rem;
        border: 1px solid orange;
    }
    .filterSection {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .filterSection::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0.1rem;
        background-color: grey;
    }
    .filterMiniBox {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 0.25rem;
    }
    .filterMiniBox > input {
        margin-right: 0.5rem;
    }
    .searchBox {
        grid-area: search;
    }
    .searchBar {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        font-size: 1rem;
    }
    .restContainer {
        grid-area: rest;
        width: 100%;
        height: 100%;
    }
    .restList {
        padding: 1rem 0rem;
        height: 100%;
        width: 100%;
        border: 1px solid purple;
        display: flex;
        justify-content: space-evenly;
    }

    /* THUMBNAIL STYLING */
    .restThumbnails {
        width: 47%;
        height: 6rem;
        background-color: coral;
        border-radius: 0.5rem;
        border: 1px solid purple;

        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .restThumbImage {
        background-color: pink;
        height: 100%;
        width: 50%;
    }
    .restThumbInfo {
        width: 50%;
        padding: 0rem 0.5rem;
    }

    /* ********** RESTAURANT HOME STYLING ********** */
    #restHome {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .restHeader {
        border: 1px solid purple;
        display: flex;
    }
    .homeButton {
        width: 3rem;
        height: 3rem;
        background-color: pink;
    }
    .restAboutMenuBar {
        /* border: 1px solid purple; */
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .restTabButton {
        width: 100%;
        border: none;
        padding: 0.75rem;
        font-size: 1rem;
        background-color: grey;
        border: 1px solid black;
    }
    .activeTab {
        background-color: white;
        border-bottom: none;
    }

    /* ABOUT SECTION */
    .restaurantHomeContainer {
        height: 100%;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid purple;
        display: grid;
        grid-template-columns:  1.5fr repeat(2, minmax(0, 1fr));
        grid-template-rows: 45% 55%;
        grid-template-areas: 
        'images images images'
        'bio location hours'
        ;
    }
    .restHeader {
        padding: 0.5rem 0rem;
        display: flex;
        align-items: center;
    }
    .restImageGallery {
        grid-area: images;
        width: 100%;
        height: 8rem;
        /* border: 1px solid blue; */
    }
    .bioBox {
        grid-area: bio;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* border: 1px solid blue; */
    }
    .diningTypeBox {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .diningTag {
        display: inline-block;
        padding: 0.25rem;
        background-color: orange;
        border-radius: 0.25rem;
    }
    .locationBox {
        position: relative;
        grid-area: location;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .locationBox::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 0.01rem;
        background-color: grey;
        left: 0;
    }
    .locationBox::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 0.01rem;
        background-color: grey;
        right: 0;
    }
    .hoursBox {
        grid-area: hours;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }










}